*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

main-color {
    background-color: #aaa8a8;
}

header{
    background-color: #aaa8a8;
    padding: 30 px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

/* Header Styles - Logo */
.logo{
    width: 1o rem;
    top: 10px;
    left: 50px;
    display: flex;
    
    
}

header{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header ul{
    color: black;
    text-decoration: none;
    margin: 15px;
    list-style-type: none;
    display: flex;
    list-style-type: none;
    display: flex;
}

header ul li a {
    color: black;
    text-decoration: none;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}

header div a {
    text-decoration: none;
    margin: 15px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* icon menu hamburguesa */

.iconmenu{
    width: 25px;
    display: flex;
    align-items: center;


}
/* Pseudoclase Nav Bar */

header ul li a:hover{
    color: lightcoral;
    }

main section h1{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}

/*ESTILO HEADER FLEXBOX */

.image-background-home{
    background-image: url(../Assets/image-inicio-ceramicos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    transition: 1s;
    cursor: pointer;
}

.image-background-home:hover{
    background-image: url(../Assets/image-inicio-ceramicos-3.png);
}

main section p{
    margin-top: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:auto;
    text-decoration: none;
    font-size: 2rem;
    font-weight: lighter;
}

main section h1 span{
    color: grey;
}
/* Carousel - Styles */

.carousel{
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 1px solid black;
}

.slides{
    width: 80%;
    height: 300px;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.5s;
}

.carousel-item active{
display:block;
opacity: 1;
}


/* Main image - Home */

.image-index{
    margin: 25px;
    width: 50%;
    transition: 1s;
}

.image-index:hover{
    border: 2px solid lightcoral;
    opacity: 80%;
    }
.card-title{
    transition: 1s;
}

.card-title:active{
    color: purple;
}


/* Box Moeling y Flex Box - La Casita*/

.lacasita{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 100px;
    background-color: grey;
}

.horarionodisp{
    text-decoration: line-through;
}

.horarioslacasita{
    background-color: yellow;
    text-align: center;
    display: block;
    padding-top: 65px;
    padding-left: 60px;
    padding-right: 35px;
    padding-bottom: 45px;
}
.enlacehome{
    display: inline;
    background-color: #92648a;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 10px 17 px;
    border-radius: 5px;
    border-top: 1px solid blue;
    border-bottom: 2px dotted green;
    margin-bottom: 100px;
    margin-top: 65px;
    margin-left: 25px;

}

/* Ceramico alumnos Box modeling y flexbox*/
.ceramico-alumnos{
    background-color: lightgreen;
    margin-bottom: 16rem;   
}
.ceramico-alumnos img{
    position: relative;
    top: 105px;
    width: 25rem;
    left: 640px;
}



/* Icono Whatsapp*/
.botton-wapp{
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000;
}

footer {
    background-color: #aaa8a8;
    padding: 20px 0;
  }
  
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
 
  /*Talleres boton inicio */
.home-buttom {
    background-color: #444444;
    margin: 35px;
    padding: 15px 25px;
    border:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border-radius: 5p;
    color: white;
}

.Home-buttom{
    background-color: #444;
    border: 1px solid #bbbaba;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.Home-buttom:hover{
    background-color: #92648a;
}
/*Formulario de contacto - Archivo contacto*/
form{
    margin:25px;
}

form label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input{
    border: 2px solid #bbbaba;
    padding: 10px;
    background-color: #bbbaba;
    border-radius: 9px;
}

form input:focus{
    border: 3px solid #c08add;
}