
$color-principal: grey;

main{


section-principal{
    background-image: url(../Assets/image-inicio-ceramicos.png);}
section-principal:hover{
        background-image: url(../Assets/image-inicio-ceramicos-3.png);
        }

h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 25px;
    height: 550px;
    transition: 1s;
    cursor: pointer;
    span{
    color: $color-principal; }
    }

p{
    color: $color-principal;
    margin-top: 0%;
    margin-bottom: 10%;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    justify-content: flex-start;
    align-items: center;
}
}