.main-section{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}

/*ESTILO HEADER FLEXBOX */

.main-section{
    background-image: url(../Assets/image-inicio-ceramicos.png);
}